/* {
  display: flex;
  list-style-type: none;
} */
/* .icon-list__item {
  margin: 0 40px;
} */

.icon-list__item div .box {
  --box-width: 150px;
  --box-height: 150px;
  --box-depth: 40px;
  width: var(--box-width);
  height: var(--box-height);
  position: relative;
  transform-style: preserve-3d;
  transform: rotateX(55deg) rotateZ(45deg);
  transition: 0.5s;
}
.icon-list__item div .box .box__face {
  position: absolute;
  font-size: 10px;
  font-weight: bold;
  color: white;
  text-align: center;
}
.icon-list__item div .box .box__face--front,
.icon-list__item div .box .box__face--back {
  width: var(--box-width);
  height: var(--box-height);
  line-height: var(--box-height);
}
.icon-list__item div .box .box__face--right,
.icon-list__item div .box .box__face--left {
  width: var(--box-depth);
  height: var(--box-height);
  left: calc((var(--box-width) - var(--box-depth)) / 2);
  line-height: var(--box-height);
}
.icon-list__item div .box .box__face--top,
.icon-list__item div .box .box__face--bottom {
  width: var(--box-width);
  height: var(--box-depth);
  top: calc((var(--box-height) - var(--box-depth)) / 2);
  line-height: var(--box-depth);
}
.icon-list__item div .box .box__face--front {
  display: flex;
  justify-content: center;
  align-items: center;
  /* background: white; */
  transition: 0.5s;
}
.icon-list__item div .box .box__face--front svg {
  transform: rotate(270deg);
}
.icon-list__item div .box .box__face--front svg path {
  transition: 0.5s;
}
.icon-list__item div .box .box__face--right {
  /* background: #e6e6e6; */
  transition: 0.5s;
}
.icon-list__item div .box .box__face--bottom {
  /* background: #b3b3b3; */
  transition: 0.5s;
}
.icon-list__item div .box .box__face--back {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  transition: 0.5s;
}
.icon-list__item div .box .box__face--front {
  transform: rotateY(0deg) translateZ(calc(var(--box-depth) / 2));
}
.icon-list__item div .box .box__face--back {
  transform: rotateY(180deg) translateZ(calc(var(--box-depth) / 2));
}
.icon-list__item div .box .box__face--right {
  transform: rotateY(90deg) translateZ(calc(var(--box-width) / 2));
}
.icon-list__item div .box .box__face--left {
  transform: rotateY(-90deg) translateZ(calc(var(--box-width) / 2));
}
.icon-list__item div .box .box__face--top {
  transform: rotateX(90deg) translateZ(calc(var(--box-height) / 2));
}
.icon-list__item div .box .box__face--bottom {
  transform: rotateX(-90deg) translateZ(calc(var(--box-height) / 2));
}


.cube {
  transform-style: preserve-3d;
  transform: rotateX(55deg) rotateZ(45deg);
}